.*
!.HA_VERSION
backups
blueprints
deps

secrets_template.yaml
secrets.yaml

custom_components/
www/community/
www/fonts/
www/Plex_Recently_Added/

*.code-workspace
home-assistant.log*

secrets*

home-assistant_v2.db*

addons_config

music_assistant.db*
tts/
google_calendars.yaml
known_devices.yaml
